@charset "UTF-8";

body {
    background-color: black;
}

h1 {
    color: white;

    margin: 20px;
    padding: 20px;

    font-size: 50pt;
}

p {
    color: #BDB9B3;
    font-size: 20pt;

    margin: 20px;
    padding: 20px;
}

input {
    border-radius: 5px 5px 5px;
    background-color: white;
    color: black;
    margin: 20px;
    padding: 20px;
    text-align: justify;

    font-size: 20pt;

    height: 70px;
    width: 250px;
}

