body {
     margin: auto;
     padding: 10px;
     border: 20px solid red;
     border-radius: 10px 10px 10px;
     border-color: black;
     
}

#container {
    position: relative;
    height: 90vh;
    padding: 10px;
    background-color: purple;
}

#container-1 {
    background-size: 100%;
    position: absolute;
    height: 200px;
    width: 400px;
    background-color: yellow;

    top: 50%;
    left: 50%;

    transform: scale(+50px, +50px);
}

/* 
  vh viewportheigth
*/